In [76]:
import pandas as pd

In [77]:

literacy_df = pd.read_csv('literacy.csv', encoding='ISO-8859-1')

literacy_df.head(20)

,Entity,Code,Year,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)",Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1979,45.796021,11.14280,13411060.0,NaN
2,Afghanistan,AFG,2011,61.879070,32.11322,30117411.0,NaN
3,Afghanistan,AFG,-10000,NaN,NaN,14737.0,NaN
4,Afghanistan,AFG,-9000,NaN,NaN,20405.0,NaN
5,Afghanistan,AFG,-8000,NaN,NaN,28253.0,NaN
6,Afghanistan,AFG,-7000,NaN,NaN,39120.0,NaN
7,Afghanistan,AFG,-6000,NaN,NaN,54166.0,NaN
8,Afghanistan,AFG,-5000,NaN,NaN,74999.0,NaN
9,Afghanistan,AFG,-4000,NaN,NaN,306250.0,NaN
10,Afghanistan,AFG,-3000,NaN,NaN,537500.0,NaN
11,Afghanistan,AFG,-2000,NaN,NaN,768751.0,NaN
12,Afghanistan,AFG,-1000,NaN,NaN,999998.0,NaN
13,Afghanistan,AFG,0,NaN,NaN,1999997.0,NaN
14,Afghanistan,AFG,100,NaN,NaN,2250002.0,NaN
15,Afghanistan,AFG,200,NaN,NaN,2500001.0,NaN
16,Afghanistan,AFG,300,NaN,NaN,2500001.0,NaN
17,Afghanistan,AFG,400,NaN,NaN,2500001.0,NaN
18,Afghanistan,AFG,500,NaN,NaN,2500001.0,NaN
19,Afghanistan,AFG,600,NaN,NaN,2500001.0,NaN

In [78]:
literacy_df.columns

Index(['Entity', 'Code', 'Year',
       'Youth literacy rate, population 15-24 years, male (%)',
       'Youth literacy rate, population 15-24 years, female (%)',
       'Total population (Gapminder, HYDE & UN)', 'Continent'],
      dtype='object')

In [79]:
#Get the number of rows & columns
literacy_df.shape

(56255, 7)

In [80]:
literacy_df.describe().dropna()

,Year,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)"
count,56255.000000,1297.000000,1297.000000,5.565600e+04
mean,1608.104488,88.740267,83.068829,3.246352e+07
std,1409.630252,13.342949,19.787803,2.503028e+08
min,-10000.000000,22.377131,6.664060,1.000000e+00
25%,1832.000000,83.056330,69.521156,1.338740e+05
50%,1901.000000,94.120239,91.724602,1.218570e+06
75%,1966.000000,98.537120,98.575920,5.396250e+06
max,2021.000000,100.000000,100.000000,7.874966e+09

In [84]:
year_values = literacy_df.groupby(['Entity', 'Year']).mean().sort_values(by= "Year", ascending=False)
year_values

,,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)"
Entity,Year,,,
Sao Tome and Principe,2021,NaN,NaN,223364.0
Serbia,2021,NaN,NaN,8697547.0
San Marino,2021,NaN,NaN,34010.0
Bonaire Sint Eustatius and Saba,2021,NaN,NaN,26445.0
Iraq,2021,NaN,NaN,41179351.0
...,...,...,...,...
Cuba,-10000,NaN,NaN,241.0
Angola,-10000,NaN,NaN,379.0
Bhutan,-10000,NaN,NaN,41.0
United States,-10000,NaN,NaN,233969.0
Peru,-10000,NaN,NaN,242217.0

In [85]:

literacy_df['Total Literacy'] = literacy_df['Youth literacy rate, population 15-24 years, male (%)'] + literacy_df['Youth literacy rate, population 15-24 years, female (%)']
literacy_df

,Entity,Code,Year,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)",Continent,Total Literacy
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia,NaN
1,Afghanistan,AFG,1979,45.796021,11.14280,13411060.0,NaN,56.938821
2,Afghanistan,AFG,2011,61.879070,32.11322,30117411.0,NaN,93.992290
3,Afghanistan,AFG,-10000,NaN,NaN,14737.0,NaN,NaN
4,Afghanistan,AFG,-9000,NaN,NaN,20405.0,NaN,NaN
...,...,...,...,...,...,...,...,...
56250,Zimbabwe,ZWE,2018,NaN,NaN,14438812.0,NaN,NaN
56251,Zimbabwe,ZWE,2019,NaN,NaN,14645473.0,NaN,NaN
56252,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN,NaN
56253,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN,NaN
56254,Ã land Islands,ALA,2015,NaN,NaN,NaN,Europe,NaN

To see the literacy for both males and female a total literacy was created as a new column. The results were grouped by sorted showing the top 60 results to see the best performing answers. There were multiple values which included: Andorra, Uzbekistan, Azerbaijan and Greenland.

In [92]:
literacy_comparison = literacy_df.groupby(['Entity', 'Year']).mean().sort_values(by= "Total Literacy", ascending=False).dropna()
literacy_comparison.head(60)

                             Youth literacy rate, population 15-24 years, male (%)  \
Entity                 Year
Andorra                2016                                         100.000000
Uzbekistan             2015                                         100.000000
Andorra                2015                                         100.000000
Uzbekistan             2013                                         100.000000
                       2014                                         100.000000
Azerbaijan             2007                                         100.000000
Greenland              2015                                         100.000000
North Korea            2008                                          99.999440
Poland                 1994                                          99.999107
Ukraine                2012                                          99.957070
Azerbaijan             2014                                          99.976240
Cuba                   2002                                          99.957410
Azerbaijan             2013                                          99.976870
                       2009                                          99.956780
                       2010                                          99.967450
Estonia                2011                                          99.939240
Azerbaijan             2011                                          99.956030
                       2015                                          99.963670
                       2016                                          99.962380
                       2012                                          99.955000
Singapore              2016                                          99.913190
Armenia                1989                                          99.909370
Singapore              2014                                          99.897160
                       2013                                          99.896280
Kazakhstan             2010                                          99.940140
Singapore              2012                                          99.896870
                       2011                                          99.893650
Azerbaijan             1999                                          99.870340
Cuba                   2012                                          99.855270
Uzbekistan             2000                                          99.853370
Guam                   1990                                          99.900002
Estonia                1989                                          99.834023
Italy                  2011                                          99.851030
Lithuania              2011                                          99.845470
Armenia                2011                                          99.818420
Tajikistan             2000                                          99.844430
Kazakhstan             1999                                          99.816030
Latvia                 2011                                          99.802190
Kazakhstan             2009                                          99.803910
Georgia                2002                                          99.788480
Belarus                2009                                          99.800330
Cyprus                 2011                                          99.804540
Tonga                  1976                                          99.841049
Italy                  2001                                          99.804470
Turkmenistan           1995                                          99.807907
Armenia                2001                                          99.752350
Ukraine                2001                                          99.776240
Palau                  2013                                          99.769590
Poland                 1978                                          99.778740
Macao                  2016                                          99.726890
Bosnia and Herzegovina 2000                                          99.748200
Belarus                1999                                          99.756870
Singapore              2015                                          99.735150
Latvia                 1989                                          99.750053
Cyprus                 2001                                          99.736310
Estonia                2000                                          99.729100
Belarus                1989                                          99.731979
Barbados               1970                                          99.720390
Slovenia               1991                                          99.736969
Singapore              2010                                          99.737890

                             Youth literacy rate, population 15-24 years, female (%)  \
Entity                 Year
Andorra                2016                                         100.000000
Uzbekistan             2015                                         100.000000
Andorra                2015                                         100.000000
Uzbekistan             2013                                         100.000000
                       2014                                         100.000000
Azerbaijan             2007                                         100.000000
Greenland              2015                                         100.000000
North Korea            2008                                          99.999790
Poland                 1994                                          99.999252
Ukraine                2012                                          99.982720
Azerbaijan             2014                                          99.936380
Cuba                   2002                                          99.953690
Azerbaijan             2013                                          99.926700
                       2009                                          99.945790
                       2010                                          99.933330
Estonia                2011                                          99.959040
Azerbaijan             2011                                          99.931760
                       2015                                          99.920110
                       2016                                          99.916480
                       2012                                          99.917670
Singapore              2016                                          99.940510
Armenia                1989                                          99.910568
Singapore              2014                                          99.903890
                       2013                                          99.901010
Kazakhstan             2010                                          99.850910
Singapore              2012                                          99.892960
                       2011                                          99.880590
Azerbaijan             1999                                          99.901490
Cuba                   2012                                          99.895200
Uzbekistan             2000                                          99.894480
Guam                   1990                                          99.847618
Estonia                1989                                          99.904503
Italy                  2011                                          99.868700
Lithuania              2011                                          99.866620
Armenia                2011                                          99.876190
Tajikistan             2000                                          99.849720
Kazakhstan             1999                                          99.874700
Latvia                 2011                                          99.870110
Kazakhstan             2009                                          99.865110
Georgia                2002                                          99.862360
Belarus                2009                                          99.847390
Cyprus                 2011                                          99.838310
Tonga                  1976                                          99.796288
Italy                  2001                                          99.820110
Turkmenistan           1995                                          99.812927
Armenia                2001                                          99.861670
Ukraine                2001                                          99.834520
Palau                  2013                                          99.829500
Poland                 1978                                          99.815811
Macao                  2016                                          99.866170
Bosnia and Herzegovina 2000                                          99.843630
Belarus                1999                                          99.828210
Singapore              2015                                          99.838120
Latvia                 1989                                          99.820923
Cyprus                 2001                                          99.815240
Estonia                2000                                          99.813360
Belarus                1989                                          99.800537
Barbados               1970                                          99.800003
Slovenia               1991                                          99.779007
Singapore              2010                                          99.766670

                             Total population (Gapminder, HYDE & UN)  \
Entity                 Year
Andorra                2016                                  77295.0
Uzbekistan             2015                               30929556.0
Andorra                2015                                  77993.0
Uzbekistan             2013                               29932630.0
                       2014                               30426394.0
Azerbaijan             2007                                8724237.0
Greenland              2015                                  56378.0
North Korea            2008                               24310143.0
Poland                 1994                               38389469.0
Ukraine                2012                               45453805.0
Azerbaijan             2014                                9505616.0
Cuba                   2002                               11199664.0
Azerbaijan             2013                                9385467.0
                       2009                                8924383.0
                       2010                                9032465.0
Estonia                2011                                1327701.0
Azerbaijan             2011                                9146277.0
                       2015                                9622741.0
                       2016                                9736041.0
                       2012                                9264684.0
Singapore              2016                                5653625.0
Armenia                1989                                3536473.0
Singapore              2014                                5525628.0
                       2013                                5453732.0
Kazakhstan             2010                               16252273.0
Singapore              2012                                5369469.0
                       2011                                5263640.0
Azerbaijan             1999                                8054126.0
Cuba                   2012                               11257112.0
Uzbekistan             2000                               24769955.0
Guam                   1990                                 130479.0
Estonia                1989                                1569967.0
Italy                  2011                               59589070.0
Lithuania              2011                                3083402.0
Armenia                2011                                2876536.0
Tajikistan             2000                                6216329.0
Kazakhstan             1999                               15020573.0
Latvia                 2011                                2093606.0
Kazakhstan             2009                               16043015.0
Georgia                2002                                4258573.0
Belarus                2009                                9433159.0
Cyprus                 2011                                1124837.0
Tonga                  1976                                  89228.0
Italy                  2001                               56875148.0
Turkmenistan           1995                                4207841.0
Armenia                2001                                3050686.0
Ukraine                2001                               48401648.0
Palau                  2013                                  17603.0
Poland                 1978                               34885808.0
Macao                  2016                                 612824.0
Bosnia and Herzegovina 2000                                3751176.0
Belarus                1999                                9924440.0
Singapore              2015                                5592143.0
Latvia                 1989                                2663943.0
Cyprus                 2001                                 960274.0
Estonia                2000                                1399111.0
Belarus                1989                               10124000.0
Barbados               1970                                 238895.0
Slovenia               1991                                2007780.0
Singapore              2010                                5131170.0

                             Total Literacy
Entity                 Year
Andorra                2016      200.000000
Uzbekistan             2015      200.000000
Andorra                2015      200.000000
Uzbekistan             2013      200.000000
                       2014      200.000000
Azerbaijan             2007      200.000000
Greenland              2015      200.000000
North Korea            2008      199.999230
Poland                 1994      199.998360
Ukraine                2012      199.939790
Azerbaijan             2014      199.912620
Cuba                   2002      199.911100
Azerbaijan             2013      199.903570
                       2009      199.902570
                       2010      199.900780
Estonia                2011      199.898280
Azerbaijan             2011      199.887790
                       2015      199.883780
                       2016      199.878860
                       2012      199.872670
Singapore              2016      199.853700
Armenia                1989      199.819939
Singapore              2014      199.801050
                       2013      199.797290
Kazakhstan             2010      199.791050
Singapore              2012      199.789830
                       2011      199.774240
Azerbaijan             1999      199.771830
Cuba                   2012      199.750470
Uzbekistan             2000      199.747850
Guam                   1990      199.747620
Estonia                1989      199.738525
Italy                  2011      199.719730
Lithuania              2011      199.712090
Armenia                2011      199.694610
Tajikistan             2000      199.694150
Kazakhstan             1999      199.690730
Latvia                 2011      199.672300
Kazakhstan             2009      199.669020
Georgia                2002      199.650840
Belarus                2009      199.647720
Cyprus                 2011      199.642850
Tonga                  1976      199.637337
Italy                  2001      199.624580
Turkmenistan           1995      199.620834
Armenia                2001      199.614020
Ukraine                2001      199.610760
Palau                  2013      199.599090
Poland                 1978      199.594551
Macao                  2016      199.593060
Bosnia and Herzegovina 2000      199.591830
Belarus                1999      199.585080
Singapore              2015      199.573270
Latvia                 1989      199.570976
Cyprus                 2001      199.551550
Estonia                2000      199.542460
Belarus                1989      199.532516
Barbados               1970      199.520393
Slovenia               1991      199.515976
Singapore              2010      199.504560

The total literacy column was created to combine both female and male data to allow efficiency of the results. The worst Entity was found from using the tail to see the bottom entries. The worst was Burkino Faso.

In [93]:
literacy_comparison.tail(60)

                               Youth literacy rate, population 15-24 years, male (%)  \
Entity                   Year
Rwanda                   1978                                          59.656200
Senegal                  2006                                          58.125170
Haiti                    1982                                          51.261349
Egypt                    1976                                          63.040680
Burkina Faso             2014                                          56.994890
Nepal                    1991                                          68.229630
Ethiopia                 2004                                          62.200000
Liberia                  2007                                          63.451020
Mali                     2015                                          60.525490
Senegal                  2002                                          58.485080
Cote d'Ivoire            1988                                          59.932251
Central African Republic 1988                                          62.561451
Cote d'Ivoire            2012                                          58.332630
Sierra Leone             2004                                          59.614250
Liberia                  1984                                          62.827290
Mozambique               1997                                          59.452702
Mali                     2011                                          56.315020
Cote d'Ivoire            1998                                          54.403130
Guinea                   2014                                          56.970510
Afghanistan              2011                                          61.879070
Guinea                   2003                                          59.462370
Benin                    2002                                          59.205080
Mali                     2010                                          56.371270
Bangladesh               1991                                          51.736729
Ethiopia                 2005                                          55.884740
Mozambique               1980                                          63.954182
Morocco                  1982                                          58.116920
Benin                    2006                                          54.866940
Chad                     2004                                          53.708230
Benin                    1992                                          55.130219
Burkina Faso             2007                                          46.733740
Chad                     2000                                          55.686200
Mali                     2006                                          47.379970
Chad                     2015                                          51.836300
Guinea-Bissau            1979                                          59.694370
Senegal                  1988                                          49.127300
Central African Republic 2010                                          48.857100
Niger                    2005                                          52.449520
South Sudan              2008                                          44.079360
Bangladesh               1981                                          44.362160
Pakistan                 1981                                          44.502869
Ethiopia                 1994                                          39.288670
Burkina Faso             2005                                          40.379810
                         2006                                          39.821870
Benin                    1979                                          45.710640
Burkina Faso             2003                                          38.381090
Chad                     2016                                          40.692890
Burundi                  1979                                          40.931992
Nepal                    1981                                          45.096142
Guinea                   2010                                          37.567150
                         1996                                          44.120049
Afghanistan              1979                                          45.796021
Niger                    2012                                          34.533620
Mali                     1998                                          32.251179
Burkina Faso             1991                                          26.788799
Niger                    2001                                          26.230060
Mali                     1976                                          26.665630
Burkina Faso             1996                                          25.478260
Chad                     1993                                          26.246229
Burkina Faso             1975                                          22.377131

                               Youth literacy rate, population 15-24 years, female (%)  \
Entity                   Year
Rwanda                   1978                                          44.691589
Senegal                  2006                                          44.540160
Haiti                    1982                                          51.053020
Egypt                    1976                                          38.122639
Burkina Faso             2014                                          43.985830
Nepal                    1991                                          32.666439
Ethiopia                 2004                                          38.500000
Liberia                  2007                                          37.170310
Mali                     2015                                          39.207760
Senegal                  2002                                          40.968370
Cote d'Ivoire            1988                                          37.845940
Central African Republic 1988                                          34.851749
Cote d'Ivoire            2012                                          38.750080
Sierra Leone             2004                                          37.357520
Liberia                  1984                                          33.724560
Mozambique               1997                                          36.553108
Mali                     2011                                          39.008560
Cote d'Ivoire            1998                                          39.849091
Guinea                   2014                                          37.210180
Afghanistan              2011                                          32.113220
Guinea                   2003                                          34.069040
Benin                    2002                                          33.238000
Mali                     2010                                          33.945710
Bangladesh               1991                                          37.989750
Ethiopia                 2005                                          33.299750
Mozambique               1980                                          25.115391
Morocco                  1982                                          30.950911
Benin                    2006                                          30.786550
Chad                     2004                                          30.774910
Benin                    1992                                          26.690290
Burkina Faso             2007                                          33.125320
Chad                     2000                                          23.235400
Mali                     2006                                          30.798460
Chad                     2015                                          25.993620
Guinea-Bissau            1979                                          17.803471
Senegal                  1988                                          28.034750
Central African Republic 2010                                          26.971330
Niger                    2005                                          23.197430
South Sudan              2008                                          29.577620
Bangladesh               1981                                          27.151011
Pakistan                 1981                                          23.832960
Ethiopia                 1994                                          28.080170
Burkina Faso             2005                                          26.482900
                         2006                                          26.534120
Benin                    1979                                          18.255180
Burkina Faso             2003                                          24.811370
Chad                     2016                                          22.387150
Burundi                  1979                                          21.486860
Nepal                    1981                                          14.966610
Guinea                   2010                                          21.796730
                         1996                                          13.472800
Afghanistan              1979                                          11.142800
Niger                    2012                                          15.057770
Mali                     1998                                          16.860670
Burkina Faso             1991                                          14.173750
Niger                    2001                                          14.233550
Mali                     1976                                          13.474650
Burkina Faso             1996                                          13.985340
Chad                     1993                                           8.945840
Burkina Faso             1975                                           6.664060

                               Total population (Gapminder, HYDE & UN)  \
Entity                   Year
Rwanda                   1978                                4812872.0
Senegal                  2006                               11382272.0
Haiti                    1982                                5910223.0
Egypt                    1976                               39422731.0
Burkina Faso             2014                               17586029.0
Nepal                    1991                               19405506.0
Ethiopia                 2004                               74239508.0
Liberia                  2007                                3461911.0
Mali                     2015                               17438772.0
Senegal                  2002                               10283694.0
Cote d'Ivoire            1988                               11094740.0
Central African Republic 1988                                2693974.0
Cote d'Ivoire            2012                               21547188.0
Sierra Leone             2004                                5433995.0
Liberia                  1984                                2111667.0
Mozambique               1997                               16397175.0
Mali                     2011                               15514593.0
Cote d'Ivoire            1998                               15589407.0
Guinea                   2014                               11150970.0
Afghanistan              2011                               30117411.0
Guinea                   2003                                8753097.0
Benin                    2002                                7295400.0
Mali                     2010                               15049352.0
Bangladesh               1991                              105599125.0
Ethiopia                 2005                               76346310.0
Mozambique               1980                               11630194.0
Morocco                  1982                               20984023.0
Benin                    2006                                8216893.0
Chad                     2004                                9734761.0
Benin                    1992                                5331805.0
Burkina Faso             2007                               14252029.0
Chad                     2000                                8355654.0
Mali                     2006                               13203378.0
Chad                     2015                               14110971.0
Guinea-Bissau            1979                                 774726.0
Senegal                  1988                                7086624.0
Central African Republic 2010                                4386765.0
Niger                    2005                               13624474.0
South Sudan              2008                                8736932.0
Bangladesh               1981                               81767516.0
Pakistan                 1981                               80680461.0
Ethiopia                 1994                               55180993.0
Burkina Faso             2005                               13421935.0
                         2006                               13829173.0
Benin                    1979                                3618519.0
Burkina Faso             2003                               12654624.0
Chad                     2016                               14561658.0
Burundi                  1979                                4051239.0
Nepal                    1981                               15367229.0
Guinea                   2010                               10192168.0
                         1996                                7463782.0
Afghanistan              1979                               13411060.0
Niger                    2012                               17795209.0
Mali                     1998                               10360564.0
Burkina Faso             1991                                9050086.0
Niger                    2001                               11751364.0
Mali                     1976                                6596721.0
Burkina Faso             1996                               10372734.0
Chad                     1993                                6563925.0
Burkina Faso             1975                                6154554.0

                               Total Literacy
Entity                   Year
Rwanda                   1978      104.347790
Senegal                  2006      102.665330
Haiti                    1982      102.314369
Egypt                    1976      101.163319
Burkina Faso             2014      100.980720
Nepal                    1991      100.896069
Ethiopia                 2004      100.700000
Liberia                  2007      100.621330
Mali                     2015       99.733250
Senegal                  2002       99.453450
Cote d'Ivoire            1988       97.778191
Central African Republic 1988       97.413200
Cote d'Ivoire            2012       97.082710
Sierra Leone             2004       96.971770
Liberia                  1984       96.551849
Mozambique               1997       96.005810
Mali                     2011       95.323580
Cote d'Ivoire            1998       94.252220
Guinea                   2014       94.180690
Afghanistan              2011       93.992290
Guinea                   2003       93.531410
Benin                    2002       92.443080
Mali                     2010       90.316980
Bangladesh               1991       89.726479
Ethiopia                 2005       89.184490
Mozambique               1980       89.069572
Morocco                  1982       89.067831
Benin                    2006       85.653490
Chad                     2004       84.483140
Benin                    1992       81.820509
Burkina Faso             2007       79.859060
Chad                     2000       78.921600
Mali                     2006       78.178430
Chad                     2015       77.829920
Guinea-Bissau            1979       77.497841
Senegal                  1988       77.162050
Central African Republic 2010       75.828430
Niger                    2005       75.646950
South Sudan              2008       73.656980
Bangladesh               1981       71.513170
Pakistan                 1981       68.335829
Ethiopia                 1994       67.368839
Burkina Faso             2005       66.862710
                         2006       66.355990
Benin                    1979       63.965820
Burkina Faso             2003       63.192460
Chad                     2016       63.080040
Burundi                  1979       62.418852
Nepal                    1981       60.062752
Guinea                   2010       59.363880
                         1996       57.592849
Afghanistan              1979       56.938821
Niger                    2012       49.591390
Mali                     1998       49.111849
Burkina Faso             1991       40.962549
Niger                    2001       40.463610
Mali                     1976       40.140281
Burkina Faso             1996       39.463600
Chad                     1993       35.192069
Burkina Faso             1975       29.041191

In [103]:
year_1980_df = literacy_df[literacy_df['Year']==1980]
year_1980_df.head(60)

,Entity,Code,Year,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)",Continent,Total Literacy
219,Afghanistan,AFG,1980,NaN,NaN,1.335650e+07,NaN,NaN
477,Africa,NaN,1980,NaN,NaN,4.763862e+08,NaN,NaN
741,Albania,ALB,1980,NaN,NaN,2.682697e+06,NaN,NaN
1000,Algeria,DZA,1980,NaN,NaN,1.922166e+07,NaN,NaN
1038,American Samoa,ASM,1980,97.888618,97.443649,3.264800e+04,NaN,195.332268
1371,Andorra,AND,1980,NaN,NaN,3.606300e+04,NaN,NaN
1630,Angola,AGO,1980,NaN,NaN,8.341290e+06,NaN,NaN
1749,Anguilla,AIA,1980,NaN,NaN,7.284000e+03,NaN,NaN
2009,Antigua and Barbuda,ATG,1980,NaN,NaN,6.186100e+04,NaN,NaN
2081,Argentina,ARG,1980,96.459221,97.302483,2.789653e+07,NaN,193.761703
2560,Armenia,ARM,1980,NaN,NaN,3.099759e+06,NaN,NaN
2665,Aruba,ABW,1980,NaN,NaN,6.009700e+04,NaN,NaN
2922,Asia,NaN,1980,NaN,NaN,2.648893e+09,NaN,NaN
3181,Australia,AUS,1980,NaN,NaN,1.458840e+07,NaN,NaN
3440,Austria,AUT,1980,NaN,NaN,7.609750e+06,NaN,NaN
3710,Azerbaijan,AZE,1980,NaN,NaN,6.150735e+06,NaN,NaN
3959,Bahamas,BHS,1980,NaN,NaN,2.105890e+05,NaN,NaN
4222,Bahrain,BHR,1980,NaN,NaN,3.598970e+05,NaN,NaN
4483,Bangladesh,BGD,1980,NaN,NaN,7.963950e+07,NaN,NaN
4728,Barbados,BRB,1980,NaN,NaN,2.523880e+05,NaN,NaN
4991,Belarus,BLR,1980,NaN,NaN,9.569847e+06,NaN,NaN
5247,Belgium,BEL,1980,NaN,NaN,9.868999e+06,NaN,NaN
5507,Belize,BLZ,1980,NaN,NaN,1.441420e+05,NaN,NaN
5769,Benin,BEN,1980,NaN,NaN,3.717161e+06,NaN,NaN
5837,Bermuda,BMU,1980,NaN,NaN,5.758000e+04,NaN,NaN
6098,Bhutan,BTN,1980,NaN,NaN,4.068830e+05,NaN,NaN
6363,Bolivia,BOL,1980,NaN,NaN,5.579932e+06,NaN,NaN
6427,Bonaire Sint Eustatius and Saba,BES,1980,NaN,NaN,1.120900e+04,NaN,NaN
6689,Bosnia and Herzegovina,BIH,1980,NaN,NaN,4.179850e+06,NaN,NaN
6947,Botswana,BWA,1980,NaN,NaN,8.978600e+05,NaN,NaN
6988,Brazil,BRA,1980,82.556763,85.236549,1.206940e+08,NaN,167.793312
7278,British Virgin Islands,VGB,1980,NaN,NaN,1.147100e+04,NaN,NaN
7541,Brunei,BRN,1980,NaN,NaN,1.938800e+05,NaN,NaN
7798,Bulgaria,BGR,1980,NaN,NaN,8.878787e+06,NaN,NaN
8062,Burkina Faso,BFA,1980,NaN,NaN,6.822837e+06,NaN,NaN
8318,Burundi,BDI,1980,NaN,NaN,4.157296e+06,NaN,NaN
8577,Cambodia,KHM,1980,NaN,NaN,6.693759e+06,NaN,NaN
8835,Cameroon,CMR,1980,NaN,NaN,8.621409e+06,NaN,NaN
9091,Canada,CAN,1980,NaN,NaN,2.441688e+07,NaN,NaN
9327,Cape Verde,CPV,1980,NaN,NaN,2.838480e+05,NaN,NaN
9397,Cayman Islands,CYM,1980,NaN,NaN,1.620700e+04,NaN,NaN
9658,Central African Republic,CAF,1980,NaN,NaN,2.199359e+06,NaN,NaN
9919,Chad,TCD,1980,NaN,NaN,4.514427e+06,NaN,NaN
9986,Channel Islands,OWID_CIS,1980,NaN,NaN,1.282040e+05,NaN,NaN
10252,Chile,CHL,1980,NaN,NaN,1.141935e+07,NaN,NaN
10508,China,CHN,1980,NaN,NaN,1.000089e+09,NaN,NaN
10777,Colombia,COL,1980,NaN,NaN,2.690051e+07,NaN,NaN
10807,Comoros,COM,1980,69.357727,54.899040,3.078310e+05,NaN,124.256767
11265,Congo,COG,1980,NaN,NaN,1.777932e+06,NaN,NaN
11336,Cook Islands,COK,1980,NaN,NaN,1.751900e+04,NaN,NaN
11598,Costa Rica,CRI,1980,NaN,NaN,2.389973e+06,NaN,NaN
11859,Cote d'Ivoire,CIV,1980,NaN,NaN,8.033652e+06,NaN,NaN
12116,Croatia,HRV,1980,NaN,NaN,4.598125e+06,NaN,NaN
12374,Cuba,CUB,1980,NaN,NaN,9.849457e+06,NaN,NaN
12444,Curacao,CUW,1980,NaN,NaN,1.479970e+05,NaN,NaN
12706,Cyprus,CYP,1980,NaN,NaN,6.854080e+05,NaN,NaN
12962,Czechia,CZE,1980,NaN,NaN,1.034908e+07,NaN,NaN
13226,Democratic Republic of Congo,COD,1980,NaN,NaN,2.635890e+07,NaN,NaN
13481,Denmark,DNK,1980,NaN,NaN,5.123945e+06,NaN,NaN
13740,Djibouti,DJI,1980,NaN,NaN,3.589600e+05,NaN,NaN

In [104]:
year_2000_df = literacy_df[literacy_df['Year']==2000]
year_2000_df.head(60)

,Entity,Code,Year,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)",Continent,Total Literacy
239,Afghanistan,AFG,2000,NaN,NaN,2.077996e+07,NaN,NaN
497,Africa,NaN,2000,NaN,NaN,8.109842e+08,NaN,NaN
761,Albania,ALB,2000,NaN,NaN,3.129246e+06,NaN,NaN
1019,Algeria,DZA,2000,NaN,NaN,3.104224e+07,NaN,NaN
1130,American Samoa,ASM,2000,NaN,NaN,5.781600e+04,NaN,NaN
1391,Andorra,AND,2000,NaN,NaN,6.539000e+04,NaN,NaN
1650,Angola,AGO,2000,NaN,NaN,1.639548e+07,NaN,NaN
1769,Anguilla,AIA,2000,NaN,NaN,1.124700e+04,NaN,NaN
2029,Antigua and Barbuda,ATG,2000,NaN,NaN,7.600700e+04,NaN,NaN
2066,Arab World,NaN,2000,87.184212,75.745972,NaN,NaN,162.930183
2320,Argentina,ARG,2000,NaN,NaN,3.687080e+07,NaN,NaN
2579,Armenia,ARM,2000,NaN,NaN,3.069597e+06,NaN,NaN
2599,Aruba,ABW,2000,98.881760,99.166370,9.086600e+04,NaN,198.048130
2942,Asia,NaN,2000,NaN,NaN,3.740320e+09,NaN,NaN
3201,Australia,AUS,2000,NaN,NaN,1.899143e+07,NaN,NaN
3460,Austria,AUT,2000,NaN,NaN,8.069276e+06,NaN,NaN
3729,Azerbaijan,AZE,2000,NaN,NaN,8.122743e+06,NaN,NaN
3979,Bahamas,BHS,2000,NaN,NaN,2.980450e+05,NaN,NaN
4240,Bahrain,BHR,2000,NaN,NaN,6.646100e+05,NaN,NaN
4501,Bangladesh,BGD,2000,NaN,NaN,1.276579e+08,NaN,NaN
4748,Barbados,BRB,2000,NaN,NaN,2.715110e+05,NaN,NaN
5009,Belarus,BLR,2000,NaN,NaN,9.871635e+06,NaN,NaN
5267,Belgium,BEL,2000,NaN,NaN,1.028205e+07,NaN,NaN
5526,Belize,BLZ,2000,NaN,NaN,2.473100e+05,NaN,NaN
5788,Benin,BEN,2000,NaN,NaN,6.865946e+06,NaN,NaN
5857,Bermuda,BMU,2000,NaN,NaN,6.501600e+04,NaN,NaN
6118,Bhutan,BTN,2000,NaN,NaN,5.910140e+05,NaN,NaN
6382,Bolivia,BOL,2000,NaN,NaN,8.418270e+06,NaN,NaN
6447,Bonaire Sint Eustatius and Saba,BES,2000,NaN,NaN,1.438700e+04,NaN,NaN
6469,Bosnia and Herzegovina,BIH,2000,99.748200,99.843630,3.751176e+06,NaN,199.591830
6966,Botswana,BWA,2000,NaN,NaN,1.643333e+06,NaN,NaN
6989,Brazil,BRA,2000,92.654010,95.719020,1.747903e+08,NaN,188.373030
7298,British Virgin Islands,VGB,2000,NaN,NaN,2.031300e+04,NaN,NaN
7559,Brunei,BRN,2000,NaN,NaN,3.331660e+05,NaN,NaN
7818,Bulgaria,BGR,2000,NaN,NaN,7.997951e+06,NaN,NaN
8080,Burkina Faso,BFA,2000,NaN,NaN,1.160795e+07,NaN,NaN
8099,Burundi,BDI,2000,76.780020,70.365300,6.378871e+06,NaN,147.145320
8596,Cambodia,KHM,2000,NaN,NaN,1.215524e+07,NaN,NaN
8616,Cameroon,CMR,2000,88.422450,77.962490,1.551394e+07,NaN,166.384940
9111,Canada,CAN,2000,NaN,NaN,3.058838e+07,NaN,NaN
9346,Cape Verde,CPV,2000,NaN,NaN,4.281780e+05,NaN,NaN
9417,Cayman Islands,CYM,2000,NaN,NaN,4.230500e+04,NaN,NaN
9439,Central African Republic,CAF,2000,72.594750,49.019350,3.640421e+06,NaN,121.614100
9698,Chad,TCD,2000,55.686200,23.235400,8.355654e+06,NaN,78.921600
10006,Channel Islands,OWID_CIS,2000,NaN,NaN,1.484390e+05,NaN,NaN
10270,Chile,CHL,2000,NaN,NaN,1.534235e+07,NaN,NaN
10289,China,CHN,2000,99.198460,98.504860,1.290551e+09,NaN,197.703320
10795,Colombia,COL,2000,NaN,NaN,3.962996e+07,NaN,NaN
10808,Comoros,COM,2000,83.951330,77.557620,5.423580e+05,NaN,161.508950
11285,Congo,COG,2000,NaN,NaN,3.127420e+06,NaN,NaN
11356,Cook Islands,COK,2000,NaN,NaN,1.793500e+04,NaN,NaN
11379,Costa Rica,CRI,2000,97.197490,98.038410,3.962369e+06,NaN,195.235900
11639,Cote d'Ivoire,CIV,2000,70.840720,52.125170,1.645466e+07,NaN,122.965890
12135,Croatia,HRV,2000,NaN,NaN,4.428075e+06,NaN,NaN
12394,Cuba,CUB,2000,NaN,NaN,1.112642e+07,NaN,NaN
12464,Curacao,CUW,2000,NaN,NaN,1.321470e+05,NaN,NaN
12725,Cyprus,CYP,2000,NaN,NaN,9.432880e+05,NaN,NaN
12982,Czechia,CZE,2000,NaN,NaN,1.028937e+07,NaN,NaN
13246,Democratic Republic of Congo,COD,2000,NaN,NaN,4.710583e+07,NaN,NaN
13501,Denmark,DNK,2000,NaN,NaN,5.341192e+06,NaN,NaN

In [105]:
mean_1980 = year_1980_df.groupby('Year').mean()
mean_1980

,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)",Total Literacy
Year,,,,
1980,90.24017,85.979322,5.481484e+07,176.219492

In [106]:
mean_2000 = year_2000_df.groupby('Year').mean()
mean_2000

,"Youth literacy rate, population 15-24 years, male (%)","Youth literacy rate, population 15-24 years, female (%)","Total population (Gapminder, HYDE & UN)",Total Literacy
Year,,,,
2000,88.327283,82.309364,75538206.75,170.636647

Sadly, for both genders, the mean for these two years shows that literacy has gone down with a lower mean in 2000 when compared to literacy mean in 1980.